<div class="portfolio-service-details" dir="ltr">
    <span class="portfolio-service-details-description" >{{ include.description }}</span>
    <div class="portfolio-service-details-line" ></div>
    <div class="portfolio-service-details-skills" dir="ltr">
        <span class="portfolio-service-details-skills-heading" >What I can use</span>
        {%- assign skills_no = include.skills.size -%}
        <div class="portfolio-service-details-skills-wrapper skills-no-{{ skills_no }}" dir="ltr">
            {%- assign skill_class = "" -%}
            {%- assign skill_counter = 0 -%}
            {%- for skill in include.skills -%}
                {%- if skill_counter >= 2 -%}
                    {%- assign skill_class = skill_class | append: " item-col-gap-2-col" -%}
                {%- endif -%}
                {%- if skill_counter >= 3 -%}
                    {%- assign skill_class = skill_class | append: " item-col-gap-3-col" -%}
                {%- endif -%}
                {%- if skill_counter >= 4 -%}
                    {%- assign skill_class = skill_class | append: " item-col-gap-4-col" -%}
                {%- endif -%}

                {% assign row_gap_2_col = skill_counter | modulo: 2 %}
                {% assign row_gap_3_col = skill_counter | modulo: 3 %}
                {% assign row_gap_4_col = skill_counter | modulo: 4 %}

                {%- if row_gap_2_col != 0 -%}
                    {%- assign skill_class = skill_class | append: " item-row-gap-2-col" -%}
                {%- endif -%}
                {%- if row_gap_3_col != 0 -%}
                    {%- assign skill_class = skill_class | append: " item-row-gap-3-col" -%}
                {%- endif -%}
                {%- if row_gap_4_col != 0 -%}
                    {%- assign skill_class = skill_class | append: " item-row-gap-4-col" -%}
                {%- endif -%}

                {%- include service-skill.html skillName=skill.skillName tools=skill.canDo class=skill_class -%}

                {%- assign skill_counter = skill_counter | plus: 1 -%}
                {%- assign skill_class = "" -%}
            {%- endfor -%}
        </div>
    </div>
</div>