@use "base";
@use "sass:math";

// about-body
@mixin about-body-padding-gap($padding, $gap) {
    padding: $padding;

    #portfolio-service {
        margin-top: $gap;
    }
}

@mixin about-body($type) {
    #about-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        @if $type == base.$desktop-normal {
            @include about-body-padding-gap(48px 0px 8px, 96px);
        } @else if $type == base.$desktop-small {
            @include about-body-padding-gap(64px 0px 8px, 96px);
        } @else if $type == base.$mobile-normal {
            @include about-body-padding-gap(96px 0px 0px, 72px);
        } @else {
            @include about-body-padding-gap(72px 0px 0px, 72px);
        }
    }
}

// welcome
@mixin welcome-width-margin($width) {
    & {
        width: $width;
    }

    &-message {
        margin-top: 8px;
        width: $width;
    }
}

@mixin welcome-variants($variant) {
    #welcome {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-hi {
            @include base.header-400-bold;
        }

        &-message {
            display: inline-block;
            @include base.paragraph-200;
        }

        @if $variant == desktop {
            @include welcome-width-margin(512px);
        } @else if $variant == mobile-normal {
            @include welcome-width-margin(330px);
        } @else if $variant == mobile-small {
            @include welcome-width-margin(300px);
        }
    }
}

// services
@mixin service-container {
    #portfolio-service {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        @include base.flex-gap-column(18px);
    }
}

@mixin service-heading {
    #portfolio-service-heading {
        @include base.header-300;
    }
}

@mixin service-list {
    #portfolio-service-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        list-style-type: none;
        min-width: 320px;
        box-sizing: border-box;
        @include base.flex-gap-column(12px);

        li {
            @include base.font-family-second;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            color: base.$font-color-secondary;
        }
    }
}

@mixin services-section($type) {
    @include about-body($type);
    @include welcome-variants($type);
    @include service-container;
    @include service-heading;
    @include service-list;
}