@use "base";

@mixin footer-wrapper {
    #footer-wrapper {
        width: 100%;
        height: 113px;
        margin-top: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: base.$background-color-5;

        & > *:not(:first-child) {
            margin-left: 24px;
        }
    }
}

@mixin footer-profile-icon {
    .footer-profile-icons {
        width: 34px;
    }
}

@mixin footer {
    @include footer-wrapper;
    @include footer-profile-icon;
}